{% extends 'base.html' %}

{% block title %}Замовити переклад{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-left">
    <div class="decor-dot">
      <span></span><span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span><span></span>
      <span></span><span></span><span></span><span></span><span></span><span></span>
    </div>

    <h1>Замовити переклад онлайн</h1>

    <p>
      Заповніть коротку форму, оберіть послугу та мови перекладу,
      додайте коментар, і ми зв’яжемося з вами для уточнення деталей замовлення.
    </p>

    {% if success_message %}
      <p class="success-message">{{ success_message }}</p>
    {% endif %}
  </div>

  <div class="hero-right">
    <div class="form-container center-align">

      <form method="post" class="order-form"  novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="form-error">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="form-group">
          <label><strong>{{ form.client_name.label }}</strong></label><br>
          {{ form.client_name }}
          <div class="field-error">{{ form.client_name.errors }}</div>
        </div>

        <div class="form-group">
          <label><strong>{{ form.email.label }}</strong></label><br>
          {{ form.email }}
          <div class="field-error">{{ form.email.errors }}</div>
        </div>

        <div class="form-group">
          <label><strong>{{ form.phone.label }}</strong></label><br>
          {{ form.phone }}
          <div class="field-error">{{ form.phone.errors }}</div>
        </div>

        <div class="form-group">
          <label><strong>{{ form.service.label }}</strong></label><br>
          {{ form.service }}
          <div class="field-error">{{ form.service.errors }}</div>
        </div>

        <div class="form-group">
          <label><strong>{{ form.source_language.label }}</strong></label><br>
          {{ form.source_language }}
          <div class="field-error">{{ form.source_language.errors }}</div>
        </div>

        <div class="form-group">
          <label><strong>{{ form.target_language.label }}</strong></label><br>
          {{ form.target_language }}
          <div class="field-error">{{ form.target_language.errors }}</div>
        </div>

        <div class="form-group">
          <label><strong>{{ form.comment.label }}</strong></label><br>
          {{ form.comment }}
          <div class="field-error">{{ form.comment.errors }}</div>
        </div>

        <button class="btn" type="submit">Надіслати заявку</button>
      </form>

    </div>
  </div>
</section>
{% endblock %}